* {
    margin: 0;
    padding:0; 
}

body {
    background-color: slateblue;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
padding: 20px;
}

h2 {
    color: red 

}

main h2 {
    color: blue
}

.element {
    color: yellowgreen;
}

h2.element {
    color: purple;
}

.element.element-2 {
    color: black;
}

#element {
    color: pink;
}
.element.element.element-2#element {
    color: skyblue;
}


/* CSS struktūra */ 

.str {
    max-width: 800px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    margin: 50px auto;  
}

.str h1 {
    font-style: italic;
    margin-bottom: 20px;

}

.str article {
    width: 48%;
    display: inline-block;
}

.str article p {
    margin-bottom: 20px;
    background: black;
    padding: 20px;

}


.str article img {
    width: 98%;
}


.str .article-1 p {
   margin-bottom: 20px;
   background: rgb(193, 30, 30);
   padding: 20px;
}

.str .article-1 img {
    border: 3px solid rgb(182, 24, 158);
}


.str .article-2 p {
    margin-bottom: 20px;
    background: rgb(0, 0, 0);
    padding: 20px;
 }

 .str .article-2 img {
    border: 3px solid cyan;
}


